#box-menu{
    opacity: 0;
    display:'inline-block';
    animation: bounceIn .75s linear 0.5s forwards;
}
@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }
    